<!DOCTYPE html>
<html>
    <body>
        {% block body %}
        {#<p>this is the center!</p>#}

        <div  id='pageCenter'>

        </div>

        {# here the templates will be loaded using angular#}
        <ng-view>

        </ng-view>

        {% endblock %}
        <!-- verbatim tag zorgt ervoor dat de content die erin staat niet gerenderd wordt door de twig engine.
             Dit is belangrijk, omdat twig en angular dezelfde brackets gebruiken. (deze oplossing gekozen ipv de default angular
             waarde te wijzigen. Angular code staat in test1.js) test
        -->
        {% verbatim %}

        {% endverbatim %}
    </body>
</html>