<!DOCTYPE html>
<html>
    <body>
        {% block body %}
        <div id="footerController" ng-controller="footerController">

            <div class="row playerRow">
                <div class="col-md-2">
                </div>
                <div class="col-md-6 noPadding">
                    <audio id="audioPLayer" controls="controls" width="100%">
                        <source type="audio/mp3" src=""/>
                    </audio>
                </div>
                <div class="col-md-4" id="queue-options">
                    <div class="btn-group" role="group" aria-label="...">
                        {# removes the highlighted song from the queue #}
                        <button type="button" class="btn btn-default" ng-class="{inactive: songQueue.length == 0}" ng-click="songQueue.length > 0 && functions.removeFromQueue(indexHighLighted)">Remove</button>
                        {# removes all the items from the queue#}
                        <button type="button" class="btn btn-default" ng-class="{inactive: songQueue.length == 0}" ng-click="songQueue.length > 0 && functions.emptyQueue()">Empty queue</button>
                    </div>
{#                    <audio id="audioPLayer" controls="controls">
                        <source type="audio/mp3" src=""/>
                    </audio>#}
                </div>
            </div>

            <div class="row songQueueRow">
                <table>
                    <tr ui-sortable="sortableOptions" ng-model="songQueue">
                        {# the selected item has the selected class #}
                        {# if the item is not currently played, we call the ng-click function #}
                        {# if the item is not selected, we want to select it, else play the song if it was not already playing #}
                        <td ng-repeat-start="song in songQueue" ng-class="{selected: selected.generatedId == song.generatedId, highLight: highLighted.generatedId == song.generatedId}" ng-click="beingDragged !== $index && functions.songClicked($index)" ng-mousedown="functions.songMouseDown(song)"  style="cursor: move;" ng-repeat-end>

                            <div class="queueSong">
                                <a ng-bind="song.index"></a>
                                <a ng-bind="song.id"></a>
                                <a ng-bind="song.name"></a>
                            </div>
                        </td>
                    <tr>

                </table>
            </div>

        </div>
        {% endblock %}
    </body>
</html>

