<!DOCTYPE html>
<html>
    <body>
        {% block body %}
        <p>this is the footer!</p>
        <audio src="files/audio_files/f57aa0fa3ff458732aba6031e4a7237f53184267.mp3" width="320"></audio>
        {% endblock %}
    </body>
</html>

