<!DOCTYPE html>
<html>
    <body>
        {% block body %}
        <div id="footerController" ng-controller="footerController">

            <div class="row playerRow">
                <div class="col-md-2">
                </div>
                <div class="col-md-6 noPadding">
                    <audio id="audioPLayer" controls="controls" width="100%">
                        <source type="audio/mp3" src=""/>
                    </audio>
                </div>
                <div class="col-md-4">
                    <audio id="audioPLayer" controls="controls">
                        <source type="audio/mp3" src=""/>
                    </audio>
                </div>
            </div>

            <div class="row songQueueRow">
                <table>
                    <tr>
                        {# the selected item has the selected class #}
                        <td ng-repeat-start="song in songQueue" ng-class="{selected: index == $index}" ng-repeat-end>
                            <div class="queueSong">
                                <a ng-bind="song.id"></a>
                                <a ng-bind="song.name"></a>
                            </div>
                        </td>
                    <tr>

                </table>
            </div>

        </div>
        {% endblock %}
    </body>
</html>

