{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid noPadding" id="mainContainer" ng-app='app'>
        <div class="row-fluid header-row">
            <div class="col-md-12 noPadding header" style="background-color:#d558d3;">
                <!-- this file contains the header html -->
                {% embed "page_template/header.html.twig" %}
                {% endembed %}
            </div>
        </div>
        <div class="row-fluid center-row">
            <div class="col-md-2 leftbar" style="background-color:#31b0d5;">
                <!-- this file contains the leftbar -->
                {% embed "page_template/leftbar.html.twig" %}
                {% endembed %}
            </div>
            <div class="col-md-10 center" style="background-color:#f0ad4e;">
                <!-- this file contains the center -->
                {% embed "page_template/center.html.twig" %}
                {% endembed %}
            </div>
        </div>
        <div class="row-fluid footer-row">
            <div class="col-md-12 footer" style="background-color:#419641">
                <!-- this file contains the footer -->
                {% embed "page_template/footer.html.twig" %}
                {% endembed %}
            </div>
        </div>
    </div>
{% endblock %}
