<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link href="{{ asset('assets/bootstrap.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/main.css') }}" rel="stylesheet" />

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}
            <script src="{{ asset('assets/output.min.js') }}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
