<!DOCTYPE html>
<html>
    <body>
        {% block body %}

        <p>Menu</p>

        <div class="btn-group-vertical" role="group" aria-label="...">
            <button class="btn btn-default" type="button" id="leftbar_listen">Listen</button>
            <button class="btn btn-default" type="button" id="leftbar_upload" ng-click="functions.loadUploadPage(item, $event)">Upload</button>
        </div>

        {% endblock %}
    </body>
</html>