{# app/Resources/views/html_templates/album_view.html.twig #}

<div id="albumView">

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Songs</th>
            </tr>
        </thead>
        <tbody>
        {# the ng-repeat stops with the same element as it starts #}
            <tr ng-repeat-start="item in albums"  ng-repeat-end>
                <td ng-bind="item.album.id"> </td>
                <td ng-bind="item.album.name"> </td>
                <td ng-bind="item.album.count"> </td>
            </tr>
        </tbody>
    </table>

</div>
