{# app/Resources/views/html_templates/playlist_view.html.twig #}

<div id="albumView">

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>link</th>
            </tr>
        </thead>
        <tbody>
        {# the ng-repeat stops with the same element as it starts #}
            <tr ng-repeat-start="item in songs"  ng-repeat-end >
                <td ng-bind="item.id"> </td>
                <td ng-bind="item.name"> </td>
                <td ng-bind="item.uploadDirectory + '/' + item.path"> </td>
            </tr>
        </tbody>
    </table>
</div>
