{# app/Resources/views/html_templates/playlists_view.html.twig #}

<div id="playListsView">

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Songs</th>
            </tr>
        </thead>
        <tbody>
        {# the ng-repeat stops with the same element as it starts #}
            <tr ng-repeat-start="playlist in playlists"  ng-repeat-end>
                <td ng-bind="playlist.id"> </td>
                <td > <a ng-bind="playlist.listName" ng-href="#playlists/{% verbatim %}{{playlist.listName}}{% endverbatim %}"> </a> </td>
                <td ng-bind="playlist.count"> </td>
            </tr>
        </tbody>
    </table>
    {# repeating data will be loaded with angular ng-repeat #}
{#    <header ng-repeat-start="playlist in playlists" ng-bind="playlist.id">
    </header>
    <div ng-bind="playlist.listName">
    </div>
    <footer ng-repeat-end>
    </footer>#}

</div>
