html, body {
  height: 100% !important;
}

.noPadding {
  padding: 0 !important;
}

/*-------the main container---------*/
#mainContainer {
  height: 100%;
  min-height: 100%;
  /* the audioPlayer */
}
#mainContainer .header-row {
  height: 150px;
}
#mainContainer .header-row .header {
  height: 100%;
}
#mainContainer .center-row {
  height: calc(100% - (150px + 150px));
  min-height: calc(100% - (150px + 150px));
}
#mainContainer .center-row .leftbar {
  height: 100%;
  min-height: 100%;
  overflow-y: scroll;
}
#mainContainer .center-row .center {
  padding-right: 0px;
  padding-left: 0px;
  height: 100%;
  min-height: 100%;
  /*overflow-y: scroll;*/
}
#mainContainer .center-row .center .scrollableBox {
  overflow-y: scroll;
}
#mainContainer .center-row .center #playlistView {
  height: 100%;
  display: flex;
  flex-flow: column;
}
#mainContainer .center-row .center #playlistView .row-fluid.menu {
  padding-top: 20px;
  padding-bottom: 20px;
}
#mainContainer .center-row .center #playlistView .row-fluid.scrolling-table {
  flex: 2;
  display: flex;
  flex-flow: column;
  margin-bottom: -20px;
}
#mainContainer .center-row .center #playlistView .row-fluid.scrolling-table .jqstb-header-table {
  flex: auto;
}
#mainContainer .center-row .center #playlistView .row-fluid.scrolling-table .jqstb-scroll {
  /* no idea why this works but it does */
  flex: 999 1 0;
  min-height: 20px;
}
#mainContainer .center-row .center #uploadsView {
  height: 100%;
  display: flex;
  flex-flow: column;
}
#mainContainer .center-row .center #uploadsView .row-fluid.menu {
  padding-top: 20px;
  padding-bottom: 20px;
}
#mainContainer .center-row .center #uploadsView .row-fluid.scrolling-table {
  flex: 2;
  display: flex;
  flex-flow: column;
  margin-bottom: -20px;
}
#mainContainer .center-row .center #uploadsView .row-fluid.scrolling-table .jqstb-header-table {
  flex: auto;
}
#mainContainer .center-row .center #uploadsView .row-fluid.scrolling-table .jqstb-scroll {
  /* no idea why this works but it does */
  flex: 999 1 0;
  min-height: 20px;
}
#mainContainer .center-row .center #form_box {
  overflow-x: auto;
  overflow-y: auto;
  height: 100%;
  padding-left: 50px;
  padding-top: 10px;
  /* text-align: center;*/
}
#mainContainer .center-row .center #form_box #upload_form {
  display: inline-block;
  width: 300px;
  /* this part is all for the file input*/
  /* end of the fileupload*/
  /* styling for the inputs*/
}
#mainContainer .center-row .center #form_box #upload_form .fileUpload-wrapper {
  text-align: left;
  display: inline-block;
  float: none;
  margin: 0 auto;
}
#mainContainer .center-row .center #form_box #upload_form .fileUpload {
  position: relative;
  overflow: hidden;
  margin: 10px;
  background-color: #BDBDBD;
  height: 200px;
  width: 200px;
  text-align: center;
}
#mainContainer .center-row .center #form_box #upload_form .fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  text-align: center;
  left: 0;
  width: 200px;
}
#mainContainer .center-row .center #form_box #upload_form .custom-span {
  font-family: Arial;
  font-weight: bold;
  font-size: 100px;
  color: #FE57A1;
}
#mainContainer .center-row .center #form_box #upload_form #uploadFile {
  padding-left: 12px;
  border: none;
  margin-left: 10px;
  width: 200px;
}
#mainContainer .center-row .center #form_box #upload_form .custom-para {
  font-family: arial;
  font-weight: bold;
  font-size: 24px;
  color: #585858;
}
#mainContainer .center-row .center #form_box #upload_form .input-group.row {
  margin-left: 0px;
  width: 100%;
  padding-bottom: 10px;
  text-align: left;
}
#mainContainer .center-row .center #form_box #upload_form .input-group.row label {
  text-align: left;
}
#mainContainer .center-row .center #form_box #upload_form .input-group.row.floatCenter {
  Text-align: center;
}
#mainContainer .center-row .center #form_box #upload_form .input-group label {
  width: 65px;
}
#mainContainer .center-row .center #form_box #upload_form .input-group input[type="text"], #mainContainer .center-row .center #form_box #upload_form .input-group .dropdown-toggle {
  width: 100% !important;
  padding-bottom: 6px !important;
  padding-top: 6px !important;
  padding-left: 12px;
}
#mainContainer .center-row .center #form_box #upload_form .input-group .bootstrap-select {
  width: 100% !important;
}
#mainContainer .footer-row {
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  height: 150px;
}
#mainContainer .footer-row .footer {
  height: 100%;
}
#mainContainer .footer-row .footer #footerController {
  height: 100%;
}
#mainContainer .footer-row .footer #footerController .songQueueRow {
  overflow-x: scroll;
  height: calc(100% - 30px);
  height: -webkit-calc(100% - 30px);
}
#mainContainer .footer-row .footer #footerController .songQueueRow table {
  height: 100%;
}
#mainContainer .footer-row .footer #footerController .songQueueRow table tr {
  height: 100%;
}
#mainContainer .footer-row .footer #footerController .songQueueRow table tr td:hover {
  background-color: rgba(236, 231, 195, 0.33) !important;
}
#mainContainer .footer-row .footer #footerController .songQueueRow table tr td.ui-sortable-placeholder {
  height: 100% !important;
  width: 120px !important;
  visibility: visible !important;
  display: inline-block;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}
#mainContainer .footer-row .footer #footerController .songQueueRow table tr td {
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
#mainContainer .footer-row .footer #footerController .songQueueRow table tr td.selected .queueSong {
  background-color: yellow;
}
#mainContainer .footer-row .footer #footerController .songQueueRow table tr td.highLight {
  background-color: #ece7c3 !important;
}
#mainContainer .footer-row .footer #footerController .songQueueRow table tr td.highLight:hover {
  background-color: #fffacb !important;
}
#mainContainer .footer-row .footer #footerController .songQueueRow table tr td .queueSong {
  height: 100%;
  width: 100px;
  padding: 5px 5px 5px 5px;
}
#mainContainer .footer-row .footer #footerController .playerRow {
  border-top: 1px solid #7f7f7f;
  border-bottom: 1px solid #7f7f7f;
  background-color: pink;
  /* old placeholder should be invisible*/
  /* fix for the volume slider, that was somtimes pushed off the bar */
}
#mainContainer .footer-row .footer #footerController .playerRow #audioPLayer {
  display: none;
}
#mainContainer .footer-row .footer #footerController .playerRow .mejs-time-rail {
  width: calc(100% - 190px) !important;
  width: -webkit-calc(100% - 190px) !important;
}
#mainContainer .footer-row .footer #footerController .playerRow .mejs-time-total {
  width: calc(100% - 205px) !important;
  width: -webkit-calc(100% - 205px) !important;
}
#mainContainer .footer-row .footer #footerController .playerRow #queue-options button {
  border-top: 0px;
  border-bottom: 0px;
  height: 30px;
}
#mainContainer .noPadding {
  padding-left: 0px;
  padding-right: 0px;
}

/*# sourceMappingURL=main.css.map */
