// variables
$top-row-height: 150px;
$footer-row-height: 150px;
$remaining-height: calc(100% - (#{$top-row-height} + #{$footer-row-height}));

// we want to use the whole page
html, body {
  height: 100%!important;
}

// div that removes padding
.noPadding {
  padding: 0 !important;
}

/*-------the main container---------*/
#mainContainer {
  height: 100%;
  min-height: 100%;

  //------- the first row
  .header-row {
    height: 150px;
    .header{
      height:100%;
    }
  }
  //------- the center row
  .center-row {
    height: $remaining-height;
    min-height: $remaining-height;

    // Left
    .leftbar {
      height: 100%;
      min-height: 100%;
      overflow-y: scroll;
    }
    // Right
    .center {
      height: 100%;
      min-height: 100%;
      /*overflow-y: scroll;*/
      .scrollableBox{
        overflow-y: scroll;
      }

      #uploadsView {
        height: 100%;
        display: flex;  /* use the flex model */
        padding-bottom: 70px;
        min-height: 100%;
        flex-flow: row wrap;
        /*flex-direction: column;*/

        /* wrapper for scrollable tables, that takes up remaining height using flex*/
        .tableWrapper {
          flex: 1 100%!important;
          /*padding-bottom: 50px;*/
          /* scrollable tbody*/
          .jqstb-scroll {
            flex: 1 100%!important;
            height: 100%!important;

            /*          table {
                        flex: 1 100%!important;

                      }*/
          }
        }
      }
    }
  }
  //------- the last row
  .footer-row {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    height: 150px;

    // Footer
    .footer {
      height:100%;

      #footerController {
        height: 100%;

        .songQueueRow {
          overflow-x: scroll;
          height: calc(100% - 30px);
          height: -webkit-calc(100% - 30px);
          table {
            height: 100%;
            tr {
              height: 100%;

              td {
                height: 100%;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                padding-bottom:10px;

                &.selected .queueSong{
                    background-color: yellow;
                }

                .queueSong {
                    height:100%;
                    width: 100px;
                    padding: 5px 5px 5px 5px;
                }
              }
            }
          }
        }

        .playerRow {
          background-color: pink;
          /* old placeholder should be invisible*/
          #audioPLayer {
            display: none;
          }
          /* fix for the volume slider, that was somtimes pushed off the bar */
          .mejs-time-rail {
            width: calc(100% - 190px)!important;
            width: -webkit-calc(100% - 190px)!important;
          }
          .mejs-time-total {
            width: calc(100% - 205px)!important;
            width: -webkit-calc(100% - 205px)!important;
          }

        }
      }
    }
  }

  .noPadding {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* the audioPlayer */

}









