// variables
$top-row-height: 150px;
$footer-row-height: 150px;
$remaining-height: calc(100% - (#{$top-row-height} + #{$footer-row-height} + 2px));

// we want to use the whole page
html, body {
  height: 100%!important;
}

// div that removes padding
.noPadding {
  padding: 0 !important;
}

/*-------the main container---------*/
#mainContainer {
  height: 100%;
  min-height: 100%;

  //------- the first row
  .header-row {
    height: 150px;
    .header{
      height:100%;

      .navbar {
        margin-bottom: 0 !important;
      }

      #topOptions {
        width: 100%;
        height: calc(100% - 52px);
      }

    }
  }
  //------- the center row
  .center-row {
    height: $remaining-height;
    min-height: $remaining-height;

    // Left
    .leftbar {
      height: 100%;
      min-height: 100%;
      overflow-y: scroll;
    }
    // Right
    .center {
      padding-right: 0px;
      padding-left: 0px;
      height: 100%;
      min-height: 100%;
      /*overflow-y: scroll;*/
      .scrollableBox{
        overflow-y: scroll;
      }

      #playlistView {
        height: 100%;
        display: flex;
        flex-flow: column;

        .row-fluid.menu {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .row-fluid.scrolling-table {
          flex: 2;
          display: flex;
          flex-flow: column;
          margin-bottom: -20px;

          .jqstb-header-table {
            flex: auto;
          }

          .jqstb-scroll {
            /* no idea why this works but it does */
            flex: 999 1 0;
            min-height: 20px;
          }
        }
      }

      #uploadsView {
        height: 100%;
        display: flex;
        flex-flow: column;

        .row-fluid.menu {
          padding-top: 20px;
          padding-bottom: 20px;
        }

        .row-fluid.scrolling-table {
          flex: 2;
          display: flex;
          flex-flow: column;
          margin-bottom: -20px;

          .jqstb-header-table {
            flex: auto;
          }

          .jqstb-scroll {
            /* no idea why this works but it does */
            flex: 999 1 0;
            min-height: 20px;
          }
        }
      }

      #form_box {
        overflow-x: auto;
        overflow-y: auto;
        height: 100%;
        padding-left: 50px;
        padding-top: 10px;
       /* text-align: center;*/

        #upload_form {
          display: inline-block;
          width: 300px;


          .fileUpload-wrapper {
            text-align:left;
            display: inline-block;
            float: none;
            margin: 0 auto;
          }

          /* this part is all for the file input*/
          .fileUpload {
            position: relative;
            overflow: hidden;
            margin: 10px;
            background-color: #BDBDBD;
            height: 200px;
            width: 200px;
            text-align: center;
          }

          .fileUpload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
            height: 100%;
            text-align: center;
            left: 0;
            width: 200px;
          }

          .custom-span {
            font-family: Arial;
            font-weight: bold;
            font-size: 100px;
            color: #FE57A1
          }
          #uploadFile {
            padding-left: 12px;
            border: none;
            margin-left: 10px;
            width: 200px;
          }
          .custom-para {
            font-family: arial;
            font-weight: bold;
            font-size: 24px;
            color: #585858;
          }
          /* end of the fileupload*/

          /* styling for the inputs*/
          .input-group {
            &.row {
              margin-left: 0px;
              width: 100%;
              padding-bottom: 10px;
              text-align: left;

              label {
                text-align: left;
              }

              &.floatCenter {
                Text-align:center;
              }
              /* styling for the dropdown with single choice */
              .chosen-container {
                width: 100% !important;
                height: 35px;
                .chosen-single {
                  height: 35px;
                  padding-top: 5px;
                  padding-bottom: 5px;

                  .search-choice-close{
                    margin-top:5px;
                  }
                  b {
                    margin-top: 5px;
                  }
                }

                .chosen-drop .chosen-results li {
                  height: 35px !important;
                  overflow-y: auto;
                  padding-top: 10px;
                  padding-bottom: 10px;
                }
              }



            }

            label {
              width: 65px;
            }

            input[type="text"], .dropdown-toggle{
              width: 100% !important;
              padding-bottom: 6px !important;
              padding-top: 6px !important;
              padding-left: 12px;

            }

            .bootstrap-select {
              width: 100%!important;
            }
          }
        }
      }
    }
  }
  //------- the last row
  .footer-row {
    /*position: fixed;*/
    bottom: 0;
    width: 100%;
    height: 150px;

    // Footer
    .footer {
      height:100%;

      #footerController {
        height: 100%;

        .songQueueRow {
          overflow-x: scroll;
          height: calc(100% - 30px);
          height: -webkit-calc(100% - 30px);




          table {
            height: 100%;
            tr {
              height: 100%;

              td:hover {
                background-color: rgba(236, 231, 195, 0.33) !important;
              }

              td.ui-sortable-placeholder {
                height: 100%!important;
                width: 120px!important;
                visibility: visible!important;
                display: inline-block;
                padding-bottom: 0px !important;
                margin-bottom: 0px!important;
              }

              td {
                height: 100%;
                padding-left: 10px;
                padding-right: 10px;
                padding-top: 10px;
                padding-bottom:10px;


                &.selected .queueSong{
                  background-color: yellow;
                }

                &.highLight {
                    background-color: rgb(236, 231, 195) !important;
                }

                &.highLight:hover {
                  background-color: rgb(255, 250, 203) !important;
                }

                .queueSong {
                    height:100%;
                    width: 100px;
                    padding: 5px 5px 5px 5px;
                }
              }
            }
          }
        }

        .playerRow {
          border-top: 1px solid #7f7f7f;
          border-bottom: 1px solid #7f7f7f;

          background-color: pink;
          /* old placeholder should be invisible*/
          #audioPLayer {
            display: none;
          }
          /* fix for the volume slider, that was somtimes pushed off the bar */
          .mejs-time-rail {
            width: calc(100% - 190px)!important;
            width: -webkit-calc(100% - 190px)!important;
          }
          .mejs-time-total {
            width: calc(100% - 205px)!important;
            width: -webkit-calc(100% - 205px)!important;
          }

          #queue-options button{
            border-top:0px;
            border-bottom: 0px;
            height: 30px;
          }

        }
      }
    }
  }

  .noPadding {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* the audioPlayer */

}









